 *{
 	margin: 0px;
 }
 body{
 	margin: auto;
 }
 #nav{
	width: 98%;
	height: 20px;
	background-color: blue;
	margin: auto;
}
	#nav ul {
		padding-top: 0px;
		float: left; 
	}
	#nav ul li{
		display: inline-block;
		list-style: none;
		color: #fff;
		font-size: 16px;
		font-family: arial; 
		transition:ease-in all 300ms;
		-moz-transition:ease-in all 300ms;
		-webkit-transition:ease-in all 300ms;
		-o-transition:ease-in all 300ms;
	}
	#nav ul li:hover {
		opacity: 0.7;
		position: relative;
		right: 10px;
		transition:ease-in all 300ms;
		-moz-transition:ease-in all 300ms;
		-webkit-transition:ease-in all 300ms;
		-o-transition:ease-in all 300ms;
	}
	#nav ul a{
		
	}
#header{
	width: 98%;
	height: 110px;
	position: none;
	background-color: #E0E026;
	margin: auto;
}
	#header ul {
		padding-top: 0px;
		float: right; 
	}
	#header ul li{
		display: inline-block;
		list-style: none;
		color: blue;
		font-size: 16px;
		font-family: arial; 
		transition:ease-in all 300ms;
		-moz-transition:ease-in all 300ms;
		-webkit-transition:ease-in all 300ms;
		-o-transition:ease-in all 300ms;
	}
	#header ul li:hover {
		opacity: 0.7;
		position: relative;
		right: 10px;
		transition:ease-in all 300ms;
		-moz-transition:ease-in all 300ms;
		-webkit-transition:ease-in all 300ms;
		-o-transition:ease-in all 300ms;
	}
	#header ul a{
		
	}
		
	#header #search_box {
		float: right;
		width: 280px;
		height: 29px;
		padding: 1px;
		margin-top: 20px;
		background: url(images/search_box.png);
	}

	#search_box form {
		width: 280px;
		height: 29px;
		margin: 0;
		padding: 0;
	}

	#searchfield {
		height: 19px;
		width: 200px;
		padding: 5px 5px 5px 5px;
		margin-right: 0px;
		color: #988392;
		font-size: 12px;
		font-variant: normal;
		line-height: normal;
		background: none;
		border: none;
	}

	#searchbutton {
	 	height: 29px;
		width: 60px;
		padding: 0 0 10px 0;
		cursor: pointer;
		font-size: 12px;
		text-align: center;
		vertical-align: bottom;
		white-space: pre;
		color: red;
		background: blue;
		border: none;
	}

#contentleft{
	width: 20%;
	height: 470px;
	background-color: white;
	float: left;
	border-radius: 09px;
	margin-bottom: 2px;
	margin-top: 10px;
	margin-left: 1%;
}
	#menu{
		width: 100%;
		height: 35px;
		background-color: blue;
		margin-top: auto;
		font-family: arial;
		font-size: 16px;
		font-weight: bold;
		color: yellow;
		text-align: center;
		border-radius: 09px;
	}
	#menulist{
	width: 97%;
	height: 210px;
	background-color: grey;
	margin-top: auto;
	font-family: arial;
	font-size: 16px;
	font-weight: bold;
	color: white;
	text-align: left;
	border-radius: 10px;
	padding-left: 5px;
	border-color: blue;
}
 #currency{
	width: 98%;
	height: 265px;
	background-color: grey;
	margin-top: 8px;
	font-family: arial;
	font-size: 16px;
	font-weight: bold;
	color: white;
	text-align: left;
	border-radius: 10px;
	padding-top: 2px;
	padding-left: 5px;
	border-color: blue;
}



#contentright{
	width: 77%;
	height: 500px;
	background-color:white;
	float: left;
	border-radius: 09px;
	margin-bottom: 2px;
	margin-top: 10px;
	margin-left: 1%;
}
#news{
		width: 99.5%;
		height: 35px;
		background-color: white;
		margin-top: auto;
		font-family: arial;
		font-size: 16px;
		font-weight: bold;
		color: blue;
		text-align: center;
		border-radius: 09px;
		border: solid;
	}
	#latest{
		width: 20%;
		height: 35px;
		background-color: blue;
		margin-top: auto;
		font-family: arial;
		font-size: 16px;
		font-weight: bold;
		color: yellow;
		text-align: center;
		border-radius: 09px;
	}
#advert{
		width: 100%;
		height: 180px;
		background-color: white;
		margin-top: auto;
		font-family: arial;
		font-size: 16px;
		font-weight: bold;
		color: blue;
		text-align: center;
		border-radius: 09px;
		margin-top: 10px;
	}	
#columns{
		width: 100%;
		height: 180px;
		background-color: white;
		margin-top: auto;
		border-radius: 09px;
		margin-top: 270px;
		margin-left: auto;
	}
	#col1{
			width: 325px;
			height: 150px;
			margin-top: auto;
			border-radius: 09px;
			float: left;
			margin-right: 0px;
			margin-left: auto;
		}
	#col2{
			width: 325px;
			height: 150px;
			margin-top: auto;
			border-radius: 09px;
			float: left;
			margin-right: 23px;
			margin-left: 23px;
		}
	#col3{
			width: 325px;
			height: 150px;
			margin-top: auto;
			border-radius: 09px;
			float: left;
			margin-right: 5px;
		}
#bottom-button{
		clear: both;
		width: 100%;
		height: auto;
		margin-top: 0px;
		font-family: arial;
		font-size: 16px;
		font-weight: bold;
		color: yellow;
		text-align: center;
		border-radius: 09px;
		margin-bottom: auto;
		float: left;
	}
#button1{
		width:150px;
		height: 35px;
		background-color: blue;
		margin-top: 0px;
		font-family: arial;
		font-size: 16px;
		font-weight: bold;
		color: white;
		text-align: center;
		border-radius: 09px;
		margin-bottom: auto;
		float: left;
		margin-right: 10px;

	}
#button2{
		width: 150px;
		height: 35px;
		background-color: #303088;
		margin-top: 0px;
		font-family: arial;
		font-size: 16px;
		font-weight: bold;
		color: white;
		text-align: center;
		border-radius: 09px;
		margin-bottom: auto;
		float: left;
		margin-right: 10px;

	}
#button3{
		width: 200px;
		height: 35px;
		background-color: #303088;
		margin-top: 0px;
		font-family: arial;
		font-size: 16px;
		font-weight: bold;
		color: white;
		text-align: center;
		border-radius: 09px;
		margin-bottom: auto;
		float: left;		
		margin-right: 10px;

	}
#button4{
		width: 280px;
		height: 35px;
		background-color: #303088;
		margin-top: 0px;
		font-family: arial;
		font-size: 16px;
		font-weight: bold;
		color: white;
		text-align: center;
		border-radius: 09px;
		margin-bottom: auto;
		float: left;
		margin-right: 10px;

	}	

/*Login CSS*/
.login{
	margin-top: 50px;
	color: black;
	text-align: center;
	border-style: solid;
	width: 40%;
	margin-left: 30%; 
	margin-right: 30%;
	border-radius: 10px;	
}

.login input{
	width: 90%;
	border-radius: 09px;
	height: 20px;
	border-right-color: red;
}

.login button{
	border-radius: 06px;
}
.login p{
	color: blue;
}

h1{
	color: green;
	text-transform: uppercase;
	text-align: center;
	margin-top: 50px;

}



	/*TABLET*/
	@media(max-width: 768px){
		header ul li{
			display: block;
		}
		nav{
			display: block;
		}



	}

	/*MOBILE*/
	@media(max-width: 400px){


	}